
.frame{
    max-width:80rem;

}

.container{
    display:flex;
}

/* .list{
    justify-content: center;
} */


@media screen and (max-width:970px){
    .container{
        flex-direction: column;
    }
}

